<h1>{{title}}</h1>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Words Bank">
    <app-word-list-layout [groupBy]="groupByTypes.HANG"></app-word-list-layout>
  </mat-tab>
  <mat-tab label="Words Bank by Learning Days">
    <app-word-list-layout [groupBy]="groupByTypes.DATE"></app-word-list-layout>
  </mat-tab>
  <mat-tab label="Error List">
    <app-error-list></app-error-list>
  </mat-tab>
  <mat-tab label="Sentenes List">
    <app-sentences-list></app-sentences-list>
  </mat-tab>
  <mat-tab label="Kana List">
    <app-kana-list></app-kana-list>
  </mat-tab>
  <mat-tab label="Words Maintenance">
    <app-word-maintenance></app-word-maintenance>
  </mat-tab>
  <mat-tab label="Second">
    <app-word-format></app-word-format>
  </mat-tab>
</mat-tab-group>