<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-selection-list [multiple]="false" (selectionChange)="typeSelectedChange($event)">
            <mat-list-option *ngFor="let test of japaneseWord" [value]="test">
                {{test.group}}
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
       
        <mat-list role="list"  class="question-list">
            <mat-list-item class="question-list-item" role="listitem" *ngFor="let word of questionList; let i = index">
                {{i}}: {{word}}
            </mat-list-item>
        </mat-list>
        <!-- <mat-list role="list"  class="question-list">
            <mat-list-item class="question-list-item" role="listitem" *ngFor="let word of questionList">
                <textarea matInput ></textarea>
                <button mat-raised-button *ngIf="isDisplayButtonVisible()" color="primary" (click)="onCheck()">check</button>
            </mat-list-item>
        </mat-list> -->
        <div class="display-container" >
            <button mat-raised-button *ngIf="isDisplayButtonVisible()" color="primary" class="switch-button" id="switch" (click)="onSwitchQuestionResult()">switch</button>
            <button mat-raised-button *ngIf="isDisplayButtonVisible()" color="primary" class="reset-button" id="reset" (click)="onReset()">reset</button>
            <button mat-raised-button *ngIf="isDisplayButtonVisible()" color="primary" class="display-button" id="display" (click)="onDisplayResult()">display</button>
        </div>
        <mat-list role="list" class="answer-list" *ngIf="isResultVisible()">
            <mat-list-item role="listitem" class="question-list-item" *ngFor="let word of answerList">
                {{word}}
            </mat-list-item>
        </mat-list>    
         
    </mat-drawer-content>
</mat-drawer-container>
